<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' cdn.jsdelivr.net giscus.app; object-src 'self'; media-src 'self'; style-src 'self' cdn.jsdelivr.net fonts.googleapis.com 'unsafe-inline'; style-src-elem 'self' fonts.googleapis.com cdn.jsdelivr.net 'sha256-8r2wkNd7y5t42rwVYQq1N86jT4H+QpO/L30lmmVGGcs='; connect-src 'self' api.github.com; font-src 'self' cdn.jsdelivr.net fonts.gstatic.com data:; img-src 'self' cdn.jsdelivr.net; manifest-src 'self'; frame-src 'self' player.bilibili.com giscus.app; base-uri 'none'; form-action 'none'; frame-ancestors DENY">
<meta name="referrer" content="strict-origin-when-cross-origin">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/katex.min.css" integrity="sha384-ZPe7yZ91iWxYumsBEOn7ieg8q/o+qh/hQpSaPow8T6BwALcXSCS6C6fSRPIAnTQs" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/katex.min.js" integrity="sha384-ljao5I1l+8KYFXG7LNEA7DyaFvuvSCmedUf6Y6JI7LJqiu8q5dEivP2nDdFH31V4" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/contrib/mhchem.min.js" integrity="sha384-RTN08a0AXIioPBcVosEqPUfKK+rPp+h1x/izR7xMkdMyuwkcZCWdxO+RSwIFtJXN" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" onload="renderMathInElement(document.body);" crossorigin="anonymous"></script>
<script defer src="/js/auto-renderer-onload.js"></script>