@font-face {
  font-display: swap;
}
.post-body p a{
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}
.hbe-button-next {
	position: relative;
	left: 41.5%;
	background: var(--btn-default-bg);
	border: 2px solid var(--btn-default-border-color);
	border-radius: 2px;
	color: var(--btn-default-color);
	display: inline-block;
	font-size: 0.875em;
	line-height: 2;
	padding: 0 20px;
	text-decoration: none;
	transition-property: background-color;
	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
+tablet-mobile() {
  .sidebar-toggle, .sidebar {
    display: none;
  }
}