@font-face {
  font-display: swap;
}
.post-body p a{
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}
.hbe-button-next {
	position: relative;
	left: 41.5%;
	background: var(--btn-default-bg);
	border: 2px solid var(--btn-default-border-color);
	border-radius: 2px;
	color: var(--btn-default-color);
	display: inline-block;
	font-size: 0.875em;
	line-height: 2;
	padding: 0 20px;
	text-decoration: none;
	transition-property: background-color;
	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.katex .mathdefault {
    font-family: KaTeX_Math;
    font-style: italic;
}

.tag-cloud-0 {
  color: #4a569d;
}
.tag-cloud-1 {
  color: #585190;
}
.tag-cloud-2 {
  color: #674c84;
}
.tag-cloud-3 {
  color: #754778;
}
.tag-cloud-4 {
  color: #84426c;
}
.tag-cloud-5 {
  color: #933d60;
}
.tag-cloud-6 {
  color: #a13854;
}
.tag-cloud-7 {
  color: #b03348;
}
.tag-cloud-8 {
  color: #be2e3c;
}
.tag-cloud-9 {
  color: #cd2930;
}
.tag-cloud-10 {
  color: #dc2424;
}
